.basketballChild {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1463px;
  height: 92px;
}
.searchPlayers {
  width: 115px;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 42px;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.navListItem {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 28px;
  left: 1205px;
  border-radius: var(--br-7xs);
  background-color: var(--color-royalblue);
  width: 164px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-3xs) 0 var(--padding-mini);
  box-sizing: border-box;
  color: var(--color-white);
}
.sportsCentral {
  position: absolute;
  top: 23px;
  left: 135px;
  font-size: var(--font-size-23xl);
  letter-spacing: 0.01em;
  line-height: 42px;
  font-family: var(--font-abel);
  color: var(--color-black);
}
.image2,
.image4Icon {
  position: absolute;
  border-radius: var(--br-23xl-5);
}
.image2 {
  cursor: pointer;
  text-decoration: none;
  top: 15px;
  left: 32px;
  width: 92px;
  height: 58px;
  background-image: url(/public/image-2@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.image4Icon {
  top: 1061px;
  left: 1226px;
  width: 156px;
  height: 145px;
  object-fit: cover;
}
.basketballItem {
  position: absolute;
  top: 1282px;
  left: -103px;
  width: 1650px;
  height: 4px;
  object-fit: contain;
}
.exercisesBasketballPlayers {
  margin: 0;
}
.exercisesBasketballPlayersContainer {
  position: absolute;
  top: 79px;
  left: 623px;
  line-height: 29px;
  display: inline-block;
  width: 370px;
}
.june2023,
.thisArticleWas {
  position: absolute;
  left: 623px;
  font-weight: 500;
  font-family: var(--font-dm-sans);
}
.thisArticleWas {
  top: 152px;
  font-size: var(--font-size-base);
  line-height: 123.9%;
  color: var(--color-dimgray);
  display: inline-block;
  width: 357px;
}
.june2023 {
  top: 47px;
  font-size: var(--font-size-sm);
  line-height: 100.9%;
  color: var(--color-gray-200);
}
.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-aliceblue-100);
  width: 1168px;
  height: 385px;
}
.vectorIcon {
  position: absolute;
  height: 58.29%;
  width: 30.2%;
  top: 18.96%;
  right: 14.24%;
  bottom: 22.75%;
  left: 55.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.americanFootballPlayerPosinIcon {
  position: absolute;
  top: 3px;
  left: 568px;
  width: 568px;
  height: 385px;
  object-fit: cover;
}
.newsletterSubscription {
  position: absolute;
  top: 92px;
  left: 188px;
  font-size: var(--font-size-41xl);
  letter-spacing: 0.01em;
  line-height: 60px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #262626, #b8c2ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 614px;
}
.exercisesBasketballPlayersSParent {
  position: absolute;
  top: 2466px;
  left: 167px;
  width: 1204px;
  height: 385px;
  font-size: var(--font-size-3xl);
  font-family: var(--font-abel);
}
.groupIcon,
.groupIcon1,
.vectorIcon1 {
  position: absolute;
  height: 100%;
  width: 29.94%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 70.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupIcon1,
.vectorIcon1 {
  right: 35.03%;
  left: 35.03%;
}
.vectorIcon1 {
  height: 93.04%;
  width: 27.96%;
  right: 72.04%;
  bottom: 6.96%;
  left: 0;
}
.groupParent {
  position: absolute;
  top: 2890px;
  left: 180px;
  width: 157px;
  height: 47.4px;
}
.basktballArticle {
  position: absolute;
  top: 0;
  left: 497px;
  font-size: var(--font-size-9xl);
  line-height: 38px;
  font-family: var(--font-abel);
}
.basketballEquipment1Icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-7xs);
  width: 370px;
  height: 248px;
  object-fit: cover;
}
.basketballOrFootballContainer {
  position: absolute;
  top: 372px;
  left: 0;
  font-size: var(--font-size-3xl);
  line-height: 29px;
  font-family: var(--font-abel);
  display: inline-block;
  width: 370px;
}
.thisArticleWas1 {
  position: absolute;
  top: 445px;
  left: 0;
  font-size: var(--font-size-base);
  line-height: 123.9%;
  font-weight: 500;
  color: var(--color-dimgray);
  display: inline-block;
  width: 357px;
}
.imgavatar03Icon {
  width: 44px;
  position: relative;
  border-radius: var(--br-xs);
  height: 44px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.header {
  flex: 1;
  position: relative;
  letter-spacing: 0.1px;
  line-height: 22px;
  font-weight: 500;
}
.text {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content,
.june20231 {
  position: absolute;
  left: 0;
}
.content {
  top: 276px;
  width: 322px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
  color: var(--black);
  font-family: var(--font-roboto);
}
.june20231 {
  top: 340px;
  line-height: 100.9%;
  font-weight: 500;
  color: var(--color-gray-200);
}
.basketball1 {
  position: relative;
  text-transform: capitalize;
}
.basketballWrapper {
  position: absolute;
  top: 14px;
  left: 0;
  border-radius: var(--br-9xs);
  border: 0.8px solid var(--color-aliceblue-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-3xs);
  font-size: var(--font-size-xs);
  color: var(--color-aliceblue-100);
}
.basketballEquipment1Parent {
  position: absolute;
  top: 54px;
  left: 0;
  width: 370px;
  height: 485px;
}
.heartSg2001Transparent5Icon {
  position: absolute;
  top: 289px;
  left: 155px;
  width: 26px;
  height: 29px;
  object-fit: cover;
}
.frameItem {
  position: absolute;
  top: 0;
  left: 106px;
  border-radius: 0 var(--br-7xs) var(--br-7xs) 0;
  background-color: var(--color-royalblue);
  width: 67px;
  height: 49px;
}
.comment {
  border: 0;
  outline: 0;
  font-family: var(--font-dm-sans);
  font-size: var(--font-size-2xl);
  background-color: transparent;
  position: absolute;
  height: 34.9%;
  width: 69.83%;
  top: 33.47%;
  left: 4.62%;
  letter-spacing: 0.01em;
  line-height: 28px;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
}
.frameInner {
  position: absolute;
  top: 16.5px;
  left: 129.5px;
  width: 17px;
  height: 17px;
  object-fit: contain;
}
.rectangleParent {
  position: absolute;
  top: 279px;
  left: 184px;
  border-radius: var(--br-7xs);
  border: 1px solid var(--main);
  box-sizing: border-box;
  width: 173px;
  height: 49px;
}
.hockeyPlayers1Parent {
  position: absolute;
  top: 54px;
  left: 400px;
  width: 371px;
  height: 465px;
}
.threeWhiteShuttlecocksBadmiIcon {
  position: absolute;
  top: 51px;
  left: 826px;
  border-radius: var(--br-7xs);
  width: 370px;
  height: 248px;
  object-fit: cover;
}
.articleWrittenBy {
  top: 497px;
  font-size: var(--font-size-base);
  line-height: 123.9%;
  font-weight: 500;
  color: var(--color-dimgray);
  display: inline-block;
  width: 357px;
}
.articleWrittenBy,
.content2,
.june20233 {
  position: absolute;
  left: 826px;
}
.content2 {
  top: 327px;
  width: 322px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-base);
  color: var(--black);
  font-family: var(--font-roboto);
}
.june20233 {
  top: 391px;
  line-height: 100.9%;
  font-weight: 500;
  color: var(--color-gray-200);
}
.basketballFrame {
  position: absolute;
  top: 65px;
  left: 826px;
  border-radius: var(--br-9xs);
  border: 0.8px solid var(--color-aliceblue-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-3xs);
  font-size: var(--font-size-xs);
  color: var(--color-aliceblue-100);
}
.comingSoon,
.nbaScams {
  position: absolute;
  display: inline-block;
}
.comingSoon {
  top: 468px;
  left: 826px;
  font-size: var(--font-size-base);
  line-height: 123.9%;
  font-weight: 500;
  color: var(--color-dimgray);
  width: 357px;
}
.nbaScams {
  top: 426px;
  left: 829px;
  font-size: var(--font-size-3xl);
  line-height: 29px;
  font-family: var(--font-abel);
  width: 370px;
}
.basktballArticleParent {
  position: absolute;
  top: 1362px;
  left: 147px;
  width: 1196px;
  height: 539px;
}
.basketball4,
.heartSg2001Transparent4 {
  position: absolute;
  top: 1715px;
  left: 734px;
  width: 37px;
  height: 42px;
}
.basketball4 {
  top: 15px;
  left: 572px;
  font-size: var(--font-size-45xl);
  letter-spacing: 0.01em;
  line-height: 60px;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-abeezee);
  background: linear-gradient(180deg, #262626, #b8c2ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 734px;
  height: 160px;
}
.rectangleIcon {
  position: absolute;
  top: 0;
  left: calc(50% - 584px);
  width: 1168px;
  height: 518px;
  opacity: 0.6;
  mix-blend-mode: normal;
}
.football {
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
}
.footballWrapper {
  position: absolute;
  top: 31px;
  left: 210px;
  border-radius: var(--br-10xs);
  border: 1px solid var(--color-aliceblue-100);
  box-sizing: border-box;
  width: 107.7px;
  height: 36.1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-7xl);
  color: var(--color-aliceblue-100);
}
.lionelMessiLeaving {
  top: 313px;
  font-size: var(--font-size-17xl);
  line-height: 43px;
  text-transform: uppercase;
  font-family: var(--font-abel);
  width: 760px;
  height: 112px;
}
.agenceFrancePresse,
.lionelMessiLeaving,
.theEuroleagueFinals {
  position: absolute;
  left: 48px;
  display: inline-block;
}
.agenceFrancePresse {
  top: 289px;
  font-size: var(--font-size-lg);
  line-height: 100.9%;
  width: 375px;
  height: 14px;
}
.theEuroleagueFinals {
  top: 417px;
  line-height: 28px;
  font-weight: 500;
  color: var(--color-white);
  width: 697px;
}
.vectorParent {
  position: absolute;
  top: 225px;
  left: 162px;
  border-radius: var(--br-7xs) var(--br-7xs) 0 0;
  width: 1168px;
  height: 518px;
  background-image: url(/public/frame-1437260692@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-xl);
  color: var(--color-whitesmoke);
}
.trendingNews {
  position: absolute;
  top: 883px;
  left: 774px;
  font-size: var(--font-size-109xl);
  letter-spacing: 0.01em;
  line-height: 60px;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-abeezee);
  background: linear-gradient(180deg, #262626, #b8c2ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 855px;
  height: 522px;
}
.lamineYamalThe {
  top: 1012px;
  left: 422px;
  font-size: var(--font-size-xs);
  line-height: 123.9%;
  color: var(--color-dimgray);
  width: 299px;
  height: 55px;
}
.kingf03,
.lamineYamalThe,
.yearOldLamine {
  position: absolute;
  display: inline-block;
}
.yearOldLamine {
  top: 951px;
  left: 421px;
  font-size: var(--font-size-lg);
  line-height: 136.9%;
  font-family: var(--font-abeezee);
  width: 307px;
  height: 61px;
}
.kingf03 {
  top: 923px;
  left: 424px;
  font-size: var(--font-size-3xs);
  line-height: 100.9%;
  font-weight: 500;
  color: var(--color-gray-200);
  width: 128px;
  height: 13px;
}
.emptyBoxingArenaWaitingNewIcon {
  position: absolute;
  top: 923px;
  left: 97px;
  border-radius: var(--br-7xs);
  width: 296px;
  height: 266px;
  object-fit: cover;
}
.recentNewsClubsRankingChild {
  position: absolute;
  top: 54px;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-aliceblue-100);
  width: 570px;
  height: 300px;
}
.club {
  position: absolute;
  top: 1px;
  left: 31px;
  text-align: left;
  width: 44px;
}
.club,
.gp,
.w {
  text-transform: capitalize;
  display: inline-block;
}
.gp {
  position: absolute;
  top: 0;
  left: 265px;
  width: 24px;
}
.w {
  left: 0;
  width: 14.7px;
}
.d,
.l,
.w {
  position: absolute;
  top: 0;
}
.d {
  left: 50.1px;
  text-transform: capitalize;
  display: inline-block;
  width: 10.8px;
}
.l {
  left: 92.4px;
  width: 8.8px;
}
.a,
.f,
.l {
  text-transform: capitalize;
  display: inline-block;
}
.f {
  position: absolute;
  top: 0;
  left: 130.7px;
  width: 8.8px;
}
.a {
  left: 171px;
  width: 10.8px;
}
.a,
.gd,
.points {
  position: absolute;
  top: 0;
}
.gd {
  left: 216.2px;
  text-transform: capitalize;
  display: inline-block;
  width: 25px;
}
.points {
  left: 265px;
  width: 282px;
  height: 20px;
  text-align: left;
}
.div,
.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.manchesterCity {
  position: absolute;
  top: 11px;
  left: 235.2px;
  text-transform: capitalize;
  display: inline-block;
  width: 18.7px;
}
.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.manchesterCity {
  left: 281.4px;
}
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.manchesterCity {
  left: 325.6px;
  width: 9.8px;
}
.div3,
.div4,
.div5,
.div6,
.div7,
.manchesterCity {
  left: 362.9px;
}
.div4,
.div5,
.div6,
.div7,
.manchesterCity {
  left: 399.3px;
  width: 18.7px;
}
.div5,
.div6,
.div7,
.manchesterCity {
  left: 445.5px;
}
.div6,
.div7,
.manchesterCity {
  left: 492.4px;
}
.div7,
.manchesterCity {
  left: 0;
  width: 7.9px;
}
.manchesterCity {
  top: 12px;
  left: 45px;
  width: 112px;
}
.imgteam09Icon {
  position: absolute;
  top: 9px;
  left: 18.7px;
  width: 23.6px;
  height: 24px;
  object-fit: cover;
}
.image5Icon {
  top: 0;
  left: 4.2px;
  width: 55px;
  object-fit: cover;
}
.club1,
.image5Icon,
.line {
  position: absolute;
  height: 38px;
}
.club1 {
  top: 0;
  left: 0;
  width: 161.2px;
  text-align: left;
  font-size: var(--font-size-smi);
}
.line {
  top: 34px;
  left: 31.8px;
  width: 511.3px;
}
.div10,
.div11,
.div12,
.div13,
.div14,
.div15,
.div8,
.div9,
.liverpool {
  position: absolute;
  top: 9px;
  left: 267px;
  text-transform: capitalize;
  display: inline-block;
  width: 18.7px;
}
.div10,
.div11,
.div12,
.div13,
.div14,
.div15,
.div9,
.liverpool {
  left: 313.2px;
}
.div10,
.div11,
.div12,
.div13,
.div14,
.div15,
.liverpool {
  left: 357.4px;
  width: 9.8px;
}
.div11,
.div12,
.div13,
.div14,
.div15,
.liverpool {
  left: 394.7px;
}
.div12,
.div13,
.div14,
.div15,
.liverpool {
  left: 431.1px;
  width: 18.7px;
}
.div13,
.div14,
.div15,
.liverpool {
  left: 477.3px;
}
.div14,
.div15,
.liverpool {
  left: 524.4px;
}
.div15,
.liverpool {
  top: 4px;
  left: 30.8px;
  width: 9.8px;
}
.liverpool {
  left: 46px;
  width: 112px;
}
.image5Icon1,
.imgteam07Icon {
  top: 0;
  height: 24px;
  object-fit: cover;
}
.imgteam07Icon {
  position: absolute;
  left: 19.7px;
  width: 23.6px;
}
.image5Icon1 {
  left: 4.2px;
  width: 56px;
}
.club2,
.image5Icon1,
.line1 {
  position: absolute;
}
.club2 {
  top: 7px;
  left: 30.8px;
  width: 162.2px;
  height: 24px;
  text-align: left;
  font-size: var(--font-size-smi);
}
.line1 {
  top: 75px;
  left: 0;
  background-color: var(--color-aliceblue-100);
  width: 570px;
  height: 38px;
}
.chelsea,
.div16,
.div17,
.div18,
.div19,
.div20,
.div21,
.div22,
.div23 {
  position: absolute;
  top: 4px;
  left: 236.2px;
  text-transform: capitalize;
  display: inline-block;
  width: 18.7px;
}
.chelsea,
.div17,
.div18,
.div19,
.div20,
.div21,
.div22,
.div23 {
  left: 282.4px;
}
.chelsea,
.div18,
.div19,
.div20,
.div21,
.div22,
.div23 {
  left: 322.7px;
}
.chelsea,
.div19,
.div20,
.div21,
.div22,
.div23 {
  left: 363.9px;
  width: 9.8px;
}
.chelsea,
.div20,
.div21,
.div22,
.div23 {
  left: 400.3px;
  width: 18.7px;
}
.chelsea,
.div21,
.div22,
.div23 {
  left: 446.5px;
}
.chelsea,
.div22,
.div23 {
  left: 493.4px;
}
.chelsea,
.div23 {
  top: 6px;
  left: 0;
  width: 9.8px;
}
.chelsea {
  left: 45px;
  width: 95px;
}
.image5Icon2 {
  top: 0;
  left: 5.2px;
  width: 56px;
  object-fit: cover;
}
.background,
.club3,
.image5Icon2,
.line2 {
  position: absolute;
  height: 24px;
}
.club3 {
  top: 0;
  left: 0;
  width: 145.2px;
  text-align: left;
  font-size: var(--font-size-smi);
}
.background,
.line2 {
  top: 119px;
  left: 30.8px;
  width: 512.3px;
}
.background {
  top: 78px;
  left: 0;
  background-color: var(--color-aliceblue-100);
  width: 570px;
  height: 38px;
}
.div24,
.div25,
.div26,
.div27,
.div28,
.div29,
.div30,
.div31,
.tottenhamHotspur {
  position: absolute;
  top: 87px;
  left: 267px;
  text-transform: capitalize;
  display: inline-block;
  width: 18.7px;
}
.div25,
.div26,
.div27,
.div28,
.div29,
.div30,
.div31,
.tottenhamHotspur {
  left: 313.2px;
}
.div26,
.div27,
.div28,
.div29,
.div30,
.div31,
.tottenhamHotspur {
  left: 357.4px;
  width: 9.8px;
}
.div27,
.div28,
.div29,
.div30,
.div31,
.tottenhamHotspur {
  left: 390.8px;
  width: 18.7px;
}
.div28,
.div29,
.div30,
.div31,
.tottenhamHotspur {
  left: 431.1px;
}
.div29,
.div30,
.div31,
.tottenhamHotspur {
  left: 477.3px;
}
.div30,
.div31,
.tottenhamHotspur {
  left: 524.4px;
}
.div31,
.tottenhamHotspur {
  top: 2px;
  left: 30.8px;
  width: 9.8px;
}
.tottenhamHotspur {
  top: 4px;
  left: 43px;
  width: 144px;
}
.club4,
.image5Icon3 {
  position: absolute;
  height: 24px;
}
.image5Icon3 {
  top: 0;
  left: 7.2px;
  width: 51px;
  object-fit: cover;
}
.club4 {
  top: 86px;
  left: 30.8px;
  width: 194.2px;
  text-align: left;
  font-size: var(--font-size-smi);
}
.lineDiv {
  width: 570.5px;
  position: relative;
  border-top: 0.5px solid var(--color-silver);
  box-sizing: border-box;
  height: 0.5px;
}
.line3,
.lineParent {
  position: absolute;
  left: 0;
  width: 570px;
  height: 156px;
}
.lineParent {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-19xl);
}
.line3 {
  top: 75px;
}
.arsenal,
.div32,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38,
.div39 {
  position: absolute;
  top: 2px;
  left: 236.2px;
  text-transform: capitalize;
  display: inline-block;
  width: 18.7px;
}
.arsenal,
.div33,
.div34,
.div35,
.div36,
.div37,
.div38,
.div39 {
  left: 282.4px;
}
.arsenal,
.div34,
.div35,
.div36,
.div37,
.div38,
.div39 {
  left: 326.6px;
  width: 9.8px;
}
.arsenal,
.div35,
.div36,
.div37,
.div38,
.div39 {
  left: 360px;
  width: 18.7px;
}
.arsenal,
.div36,
.div37,
.div38,
.div39 {
  left: 400.3px;
}
.arsenal,
.div37,
.div38,
.div39 {
  left: 446.5px;
}
.arsenal,
.div38,
.div39 {
  left: 493.4px;
}
.arsenal,
.div39 {
  top: 3px;
  left: 0;
  width: 9.8px;
}
.arsenal {
  top: 2px;
  left: 45px;
  width: 77px;
}
.image5Icon4 {
  top: 0;
  left: 5.2px;
  width: 56px;
  object-fit: cover;
}
.club5,
.image5Icon4,
.line4 {
  position: absolute;
  height: 26px;
}
.club5 {
  top: 0;
  left: 0;
  width: 127.2px;
  text-align: left;
  font-size: var(--font-size-smi);
}
.line4 {
  top: 199px;
  left: 30.8px;
  width: 512.3px;
}
.div42,
.div43 {
  position: absolute;
  top: 9px;
  width: 18.7px;
}
.div42 {
  left: 353.4px;
  text-transform: capitalize;
  display: inline-block;
}
.div43 {
  left: 390.8px;
}
.div43,
.div46,
.manchesterUnited {
  text-transform: capitalize;
  display: inline-block;
}
.div46 {
  position: absolute;
  top: 9px;
  left: 528.4px;
  width: 9.8px;
}
.manchesterUnited {
  width: 144px;
  position: relative;
  flex-shrink: 0;
}
.club6,
.div47,
.div48,
.div49 {
  position: absolute;
  top: 7px;
  font-size: var(--font-size-smi);
  text-align: left;
}
.club6 {
  left: 82px;
  width: 194.2px;
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.div47,
.div48,
.div49 {
  left: 29px;
  text-transform: capitalize;
  display: inline-block;
  width: 9.8px;
}
.div48,
.div49 {
  top: -69px;
  left: 31px;
}
.div49 {
  top: -143px;
}
.clubTable,
.line5 {
  position: absolute;
  left: 0;
  width: 570px;
}
.line5 {
  top: 231px;
  background-color: var(--color-aliceblue-100);
  height: 38px;
}
.clubTable {
  top: 73px;
  height: 214px;
}
.clubsRanking {
  position: absolute;
  top: 0;
  left: 218px;
  font-size: var(--font-size-9xl);
  line-height: 38px;
  text-align: left;
}
.recentNewsClubsRanking {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 1994px;
  left: 717px;
  width: 570px;
  height: 354px;
  text-align: center;
  font-size: var(--font-size-base);
  color: inherit;
  font-family: var(--font-abel);
}
.image5Icon5 {
  position: absolute;
  top: 2303px;
  left: 754px;
  width: 55px;
  height: 38px;
  object-fit: cover;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 439.9px;
  border-radius: 0 var(--br-7xs) var(--br-7xs) 0;
  background-color: var(--main);
  width: 74.1px;
  height: 58px;
}
.shovonkhan0099gmailcom {
  border: 0;
  outline: 0;
  font-family: var(--font-dm-sans);
  font-size: var(--font-size-2xl);
  background-color: transparent;
  position: absolute;
  height: 35%;
  width: 69.84%;
  top: 23.45%;
  left: 17.32%;
  letter-spacing: 0.01em;
  line-height: 28px;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
}
.arrowIcon {
  position: absolute;
  top: 20.5px;
  left: 468.4px;
  width: 17px;
  height: 17px;
  object-fit: contain;
}
.rectangleGroup {
  position: absolute;
  top: 2734px;
  left: 299px;
  border-radius: var(--br-7xs);
  border: 1px solid var(--main);
  box-sizing: border-box;
  width: 514px;
  height: 58px;
}
.image9Icon {
  position: absolute;
  top: 12px;
  left: 971px;
  width: 76px;
  height: 69px;
  object-fit: cover;
}
.polls {
  position: absolute;
  top: 0;
  left: 108px;
  line-height: 38px;
}
.cardIcon,
.karateFighters1Icon {
  position: absolute;
  top: 54px;
  left: 0;
  border-radius: var(--br-7xs);
  width: 270px;
  height: 300px;
  object-fit: cover;
}
.cardIcon {
  top: 274px;
  left: -27px;
  border-radius: 0 0 var(--br-7xs) var(--br-7xs);
  width: 297px;
  height: 82px;
  overflow: hidden;
}
.recentNewsClubsRankingItem {
  position: absolute;
  top: 54px;
  left: 300px;
  border-radius: var(--br-7xs);
  width: 270px;
  height: 300px;
  object-fit: contain;
}
.day5Highlights {
  position: absolute;
  top: 288px;
  left: 396px;
  font-size: var(--font-size-3xs);
  line-height: 100.9%;
  font-weight: 500;
  font-family: var(--font-dm-sans);
  color: var(--color-aliceblue-100);
}
.polls1 {
  position: absolute;
  top: 292px;
  left: -21px;
  font-size: var(--font-size-13xl);
  line-height: 123.9%;
  color: var(--color-black);
  white-space: pre-wrap;
  display: inline-block;
  width: 270px;
  height: 82px;
}
.recentNewsClubsRanking1 {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 1994px;
  left: 330px;
  width: 375px;
  height: 354px;
  font-size: var(--font-size-9xl);
  color: inherit;
  font-family: var(--font-abel);
}
.heartSg2001Transparent5Icon1 {
  position: absolute;
  top: 1705px;
  left: 308px;
  width: 26px;
  height: 29px;
  object-fit: cover;
}
.comment1 {
  border: 0;
  outline: 0;
  font-family: var(--font-dm-sans);
  font-size: var(--font-size-2xl);
  background-color: transparent;
  position: absolute;
  height: 36.73%;
  width: 101.45%;
  top: 32.65%;
  left: 4.35%;
  letter-spacing: 0.01em;
  line-height: 28px;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
}
.rectangleContainer {
  position: absolute;
  top: 1695px;
  left: 337px;
  border-radius: var(--br-7xs);
  border: 1px solid var(--main);
  box-sizing: border-box;
  width: 138px;
  height: 49px;
}
.heartSg2001Transparent6Icon {
  position: absolute;
  top: 1702px;
  left: 1129px;
  width: 26px;
  height: 29px;
  object-fit: cover;
}
.comment2 {
  border: 0;
  outline: 0;
  font-family: var(--font-dm-sans);
  font-size: var(--font-size-2xl);
  background-color: transparent;
  position: absolute;
  height: 36.73%;
  width: 121.01%;
  top: 30.61%;
  left: 4.35%;
  letter-spacing: 0.01em;
  line-height: 28px;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
}
.frameDiv {
  position: absolute;
  top: 1692px;
  left: 1158px;
  border-radius: var(--br-7xs);
  border: 1px solid var(--main);
  box-sizing: border-box;
  width: 138px;
  height: 49px;
}
.basketball {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  height: 3023px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--main);
  font-family: var(--font-dm-sans);
}
